.navbarr .brand {
    position: relative;
    left: -100px;
    opacity: 0.7;
    font-size: 1.8em;
}

.me-auto .btn {
    position: relative;
    left: -90px;
}

.me-auto .btn:hover{
    color: #fff;
}