.navbarr .brand {
  position: relative;
  left: -70px;
  opacity: 0.7;
  font-size: 1.8em;
  color: #0072aa;
}
.navbarr {
  background-color: #78add2;
}

.me-auto .btn {
  position: relative;
  left: -90px;
}

.me-auto .btn:hover {
  color: #fff;
}

.navBtn:hover {
  color: #fff !important;
  opacity: 1;
}
